body{
    font-family: sans-serif;
    max-width: 640px;
    margin:0 auto;
    padding: 20px;
   
    background: linear-gradient(orange, purple, lightskyblue);
}

ul{
    list-style: none;
    padding-left: 0;
    
    display: flex;
    gap: 10px;
}


ul li{
    border: solid 1px black;
    background:#ffffff88;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 2px 2px 8px #00000088;
}

ul li img{
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 8px;
}

img{ max-width: 100%;}